
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">Link Drop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-2">
        <li class="nav-item active">
          <a class="nav-link" href="/collections">Collections</a>
        </li>
      </ul>

      <form class="form-inline" action="/home">
        <input id="collection-name-filter"
          type="search"
          name="collection_name_filter"
          class="form-control mr-2"
          {% if collection_name_filter %}value="{{collection_name_filter}}"{% endif %}>
          <button class="btn btn-sm btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>