
.collection-controls {
	display: flex;
	align-content: space-between;
	flex-direction: column;
}

.collection-controls--control {
	min-width: 30rem;
}

@media screen and (min-width: 65rem) {
	.collection-controls {
		justify-content: space-between;
		flex-direction: row;
	}
}