
.recent-collection-list {
	list-style: none;
	column-width: 20rem;
}

.home-page-actions {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

@media screen and (min-width: 600px) {
	.home-page-actions {
		flex-direction: row;
	}
}