{% extends 'default.html' %}

{% block title %}{{collection.name}}{% endblock %}

{% block content %}


<div class="container-fluid">
    <h1>{{collection.name}}</h1>

    <p><a href="{{url_for('public_collection', collection_id=collection.public_id)}}">Public link</a></p>

    <div class="collection-controls">
        <form method="POST" action="{{url_for('new_link_form')}}" class="collection-controls--control">
            <input type="hidden" name="collection_id" value="{{collection.key}}">
            {% include 'forms/link.html' %}
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Add link</button>
            </div>
        </form>

        <form method="POST" class="collection-controls--control">
            <input type="hidden" name="collection_id" value="{{collection.key}}">
            <div class="form-group">
            <button type="submit" class="btn btn-primary">{{public_toggle_label}}</button>
            </div>
        </form>
    </div>

    {% if links %}
    <h2>Links</h2>
    <ul class="links-list">
        {% for link in links %}
        <li class="links-list--link-entry">
            <p><a href="{{link.url}}" target="{{link.url}}" rel="noopener">{% if link.name %}{{link.name}}{% else %}{{link.url}}{% endif %}</a></p>
            {% if link.description %}
            <div>{{link.description}}</div>
            {% endif %}
            <div><small><a href="{{url_for('link', collection_id=collection.key, link_id=link.id)}}">Edit</a></small></div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This collection currently has no links</p>
    {% endif %}
</div>
{% endblock %}