{% extends 'default.html' %}

{% block title %}{{collection.name}}{% endblock %}

{% block content %}


<div class="container-fluid">
    <h1>{{collection.name}}</h1>

    <form method="POST" action="{{url_for('new_link_form')}}">
        <input type="hidden" name="collection_id" value="{{collection.key}}">
        {% include 'forms/link.html' %}
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Add link</button>
        </div>
    </form>

    {% if links %}
    <h2>Links</h2>
    <ul>
        {% for link in links %}
        <li>
            <p><a href="{{link.url}}" target="{{link.url}}" rel="noopener">{% if link.name %}{{link.name}}{% else %}{{link.url}}{% endif %}</a></p>
            {% if link.description %}
            <div>{{link.description}}</div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>This collection currently has no links</p>
    {% endif %}
</div>
{% endblock %}