{% extends 'default.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid mb3">
    <h1>Your links</h1>

    <div class="home-page-actions">
        <form method="POST" action="/forms/collections/new" class="form-inline">
            {% include 'forms/new-collection.html' %}
        </form>
    </div>

</div>

<div class="container-fluid">
    {% if collections %}
    <ul class="recent-collection-list">
    {% for collection in collections %}
        <li>
            <p><a href="/collection/{{collection.key}}">{{collection.name}}</a></p>
        </li>
    {% endfor %}
    </table>
    {% else %}
    <p>No collections found</p>
    {% endif %}
</div>
{% endblock %}