{% extends 'default.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid mb3">
    <h1>Your links</h1>

    <div class="home-page-actions">
        <form method="POST" action="/forms/collections/new" class="form">
            {% include 'forms/new-collection.html' %}
        </form>

        <form class="form">
            <div class="form-group">
                <label for="collection-name-filter">Filter</label>
                <input id="collection-name-filter"
                    type="text"
                    name="collection_name_filter"
                    class="form-control"
                    {% if collection_name_filter %}value="{{collection_name_filter}}"{% endif %}>
            </div>

            <button class="btn btn-primary">Filter</button>

        </form>
    </div>

</div>

<div class="container-fluid">
    {% if collections %}
    <ul class="recent-collection-list">
    {% for collection in collections %}
        <li>
            <p><a href="/collection/{{collection.key}}">{{collection.name}}</a></p>
        </li>
    {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}