{% extends 'default.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Your links</h1>

    <form method="POST" action="/forms/collections/new">
        {% include 'forms/new-collection.html' %}
    </form>
</div>

<div class="container-fluid">
    {% if collections %}
    <table>
    {% for collection in collections %}
        <tr>
            <td><a href="/collection/{{collection.key}}">{{collection.name}}</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}