{% extends 'default.html' %}

{% block title %}{{link.name}} - {{collection.name}}{% endblock %}

{% block content %}


<div class="container-fluid">
    <h1>{{collection.name}}</h1>

    <form method="POST" action="{{url_for('edit_link_form', link_id=link.id)}}">
        {% include 'forms/link.html' %}
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Edit link</button>
        </div>
    </form>

    <p><a href="/link/{{link.id}}/delete">Delete</a></p>

</div>
{% endblock %}